@import url(http://fonts.googleapis.com/css?family=Peralta|Elsie);
body {
	background-color: #084250;
}
a:link,
a:visited,
a:active {
	text-decoration: none;
	color: black;
}
.banner {
	background-color: white;
	padding: 20px 0px;
	-webkit-border-radius: 0px 0px 125px 125px;
	-moz-border-radius: 0px 0px 125px 125px;
	border-radius: 0px 0px 125px 125px;
}
.menu>li {
	margin: 0px;
}
.submenu {
	text-align: left;
	font-size: 15px;
	background-color: inherit;
	color: black;
	padding-left: 15px;
	margin-left: 0px;
}
.submenu:hover {
	text-decoration: none;
	background-color: white;
}
.topNavBar {
	float: left;
	height: 76px;
}
.topNavItem,
.bottomNavItem {
	margin-top: 30px;
	min-height: 30px;
	text-align: center;
	font-size: 24px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	vertical-align: bottom;
}
.topNavItem {
	font-family: 'Elsie', cursive;
	background-color: #c2b73c;
	margin: 20px 10px;
}
.frontPageImg {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	height: 450px;
	box-shadow: 10px 10px 5px #710748;
	position: relative;
	z-index: -1;
}
.bottomNavItem {
	font-family: 'Peralta', cursive;
	background-color: #3f022f;
}
.logoAT {
	width: 60px;
	height: 60px;
}
/*===============================================*/
.eventBox,
.dayOfWeek {
	min-height: 50px;
	width: 132px;
	float: left;
	margin: 1px -1px 0px;
	background-color: white;
	z-index: -1;
	position: relative;
	text-align: left;
	border-left: solid 4px crimson;
	font-family: serif;
}
.dayOfWeek {
	min-height: 25px;
	margin: 5px -1px;
	-webkit-border-radius: 50px 0px;
	-moz-border-radius: 50px 0px;
	border-radius: 50px 0px;
	font-size: x-large;
	text-align: center;
}